        a {
            color: rgb(91, 20, 184);
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
            text-decoration: rgb(91, 20, 184S);
        }

        ul {
            font-weight: normal;
            font-style: italic;
        }

        .bold {
            font-weight: bold;
        }

        .center {
            text-align: center;
        }

        .aboutme {
            color: white;
        }

        .Header{
            font-size: 25px;
            font-weight: bold;

        }

        .footertext{
            font-size: 15px;
            text-align: center;
        }

        .italic{
            font: italic;
        }
 